<p>Xin chào {{ name }},</p>
<p>Bạn đã đăng ký thành công tài khoản cho công ty {{ tenant }} với mã là: {{tenantCode}}</p>
<p>
    Để đăng nhập vào hệ thống, bạn vui lòng truy cập vào đường dẫn sau:
    <a href="{{ url }}">{{ url }}</a> <br>
    Với tài khoản vừa đăng ký: 
    <p>Mã công ty: {{tenantCode}} </p>
    <p>Email: {{ email }}</p>
    <p>Mật khẩu: {{password}} </p>
</p> 
